{% extends 'layouts/base.html' %}

{% block content%}

		<!-- CORE : begin -->
		<div id="core">
			<div class="c-container">
				<div class="row">

					<!-- MIDDLE COLUMN : begin -->
					<div class="middle-column col-md-6 col-md-push-3">

						<!-- PAGE HEADER : begin -->
						<div id="page-header" class="m-has-breadcrumbs">

							<!-- PAGE TITLE : begin -->
							<div class="page-title">
								<h1>Bargny Talents & Figures</h1>
							</div>
							<!-- PAGE TITLE : end -->

							<!-- BREADCRUMBS : begin -->
							<div class="breadcrumbs">
								<ul>
									<li class="home"><a href="index.html">Accueil</a></li>
									<li><a href="gallery-list.html">Galeries</a></li>
									<li>Bargny Talents & Figures</li>
								</ul>
							</div>
							<!-- BREADCRUMBS : end -->

						</div>
						<!-- PAGE HEADER : end -->

						<!-- PAGE CONTENT : begin -->
						<div id="page-content">
							<div class="page-content-inner">

								<!-- GALLERY DETAIL PAGE : begin -->
								<div class="gallery-detail-page gallery-page">

									<!-- GALLERY : begin -->
									<div class="c-gallery">
										<ul class="gallery-images m-layout-masonry m-3-columns">

											<!-- GALLERY IMAGE : begin -->
											<li class="gallery-image">
												<a href="{{album.photo1.url}}" class="lightbox" title="Image description" target="_blank">
													<img src="{{album.photo1.url}}" alt="">
												</a>
											</li>
											<!-- GALLERY IMAGE : end -->

											<!-- GALLERY IMAGE : begin -->
											<li class="gallery-image">
												<a href="{{album.photo2.url}}" class="lightbox" title="Image description" target="_blank">
													<img src="{{album.photo2.url}}" alt="">
												</a>
											</li>
											<!-- GALLERY IMAGE : end -->

											<!-- GALLERY IMAGE : begin -->
											<li class="gallery-image">
												<a href="{{album.photo3.url}}" class="lightbox" title="Image description" target="_blank">
													<img src="{{album.photo3.url}}" alt="">
												</a>
											</li>
											<!-- GALLERY IMAGE : end -->

											<!-- GALLERY IMAGE : begin -->
											<li class="gallery-image">
												<a href="{{album.photo4.url}}" class="lightbox" title="Image description" target="_blank">
													<img src="{{album.photo4.url}}" alt="">
												</a>
											</li>
											<!-- GALLERY IMAGE : end -->

											<!-- GALLERY IMAGE : begin -->
											<li class="gallery-image">
												<a href="{{album.photo5.url}}" class="lightbox" title="Image description" target="_blank">
													<img src="{{album.photo5.url}}" alt="">
												</a>
											</li>
											<!-- GALLERY IMAGE : end -->

											<!-- GALLERY IMAGE : begin -->
											<li class="gallery-image">
												<a href="{{album.photo6.url}}" class="lightbox" title="Image description" target="_blank">
													<img src="{{album.photo6.url}}" alt="">
												</a>
											</li>
											<!-- GALLERY IMAGE : end -->
										</ul>
									</div>
									<!-- GALLERY : end -->

									<div class="c-content-box m-no-padding">

										<!-- GALLERY FOOTER : begin -->
										<div class="gallery-footer">
											<div class="gallery-footer-inner">

												<!-- GALLERY DATE : begin -->
												<div class="gallery-date">By
													<a href="#">{{album.auteur}}</a>
												</div>
												<!-- GALLERY DATE : end -->

											</div>
										</div>
										<!-- GALLERY FOOTER : end -->

									</div>

								</div>
								<!-- GALLERY DETAIL PAGE : begin -->

							</div>
						</div>
						<!-- PAGE CONTENT : end -->

						<hr class="c-separator m-margin-top-small m-margin-bottom-small m-transparent hidden-lg hidden-md">

					</div>
					<!-- MIDDLE COLUMN : end -->

					<!-- LEFT COLUMN : begin -->
					<div class="left-column col-md-3 col-md-pull-6">

						<!-- SIDE MENU : begin -->
						<nav class="side-menu m-left-side m-show-submenu">
							<ul>
								<li><a href="{% url 'Mairie:accueil' %}">Accueil</a></li>
								<li class="m-active"><a href="town-hall.html">Municipalité</a>
									<ul>
										<li><a href="{% url 'Mairie:mairie' %}">Mairie</a></li>
										<li><a href="{% url 'Mairie:conseil' %}">Conseil municipal</a></li>
										<li><a href="{% url 'Mairie:contact' %}">Contacts</a></li>
										<li><a href="{% url 'Mairie:documents' %}">Documents</a></li>
										<li class="m-active"><a href="{% url 'Mairie:contact_maire' %}">Ecrire au maire</a></li>
									</ul>
								</li>
								<li><a href="#">Communauté</a>
									<ul>
										<li><a href="{% url 'Mairie:post' %}">News</a></li>
										<li><a href="{% url 'Mairie:avis' %}">Avis publics</a></li>
										<li><a href="{% url 'Mairie:events' %}">Evènements</a></li>
										<li><a href="{% url 'Mairie:galeries' %}">Galeries</a></li>
									</ul>
								</li>
								<li><a href="#">Autres</a>
									<ul>
										<li><a href="{% url 'Mairie:stats' %}">Statistiques</a></li>
										<li><a href="{% url 'Mairie:tour' %}">Tour virtuelle</a></li>
										<li><a href="{% url 'Mairie:histoire' %}">Histoire de la ville</a></li>
									</ul>
								</li>
							</ul>
						</nav>
						<!-- SIDE MENU : end -->

						<!-- LEFT SIDEBAR : begin -->
						<aside class="sidebar">
							<div class="widget-list">

								<!-- FEATURED GALLERY WIDGET : begin -->
								{% for album in albums %}
								{% if forloop.counter == 2 %}
								<div class="widget featured-gallery-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-pictures"></i>{{album.titre}}</h3>
										<div class="widget-content">
											<div class="gallery-image" title="Streets of TownPress">
												<a href="{% url 'Mairie:galerie_photos' id=album.id %}"><img src="{{album.photo1.url}}" alt=""></a>
											</div>
											<p class="show-all-btn"><a href="{% url 'Mairie:galerie_photos' id=album.id %}">Voir photos</a></p>
            							</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}
								<!-- FEATURED GALLERY WIDGET : end -->
							</div>
						</aside>
						<!-- LEFT SIDEBAR : end -->

					</div>
					<!-- LEFT COLUMN : end -->

					<!-- RIGHT COLUMN : begin -->
					<div class="right-column col-md-3">

						<!-- RIGHT SIDEBAR : begin -->
						<aside class="sidebar">
							<div class="widget-list">

								<!-- CATEGORIES WIDGET : begin -->
								<div class="widget categories-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico">
										<i class="widget-ico tp tp-list4"></i>Categories</h3>
										<div class="widget-content">
											<ul>
												<li><a href="gallery-list.html">Community</a> (2)</li>
												<li><a href="gallery-list.html">Music</a> (2)</li>
												<li><a href="gallery-list.html">Sights</a> (2)</li>
												<li><a href="gallery-list.html">Sport</a> (1)</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- CATEGORIES WIDGET : end -->

								<!-- GALLERIES WIDGET : begin -->
								<div class="widget galleries-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-pictures"></i>Recent Galleries</h3>
										<div class="widget-content">
											<ul>

												<!-- GALLERY : begin -->
												<li class="gallery">
													<div class="gallery-inner">
														<a href="gallery-detail.html" class="gallery-image"><img src="images/gallery-01-thumb.jpg" alt=""></a>
														<h4 class="gallery-title">
															<a href="gallery-detail.html">Summer Camp for Kids</a>
														</h4>
														<div class="gallery-date">August 24, 2015</div>
													</div>
												</li>
												<!-- GALLERY : end -->

												<!-- GALLERY : begin -->
												<li class="gallery">
													<div class="gallery-inner">
														<a href="gallery-detail.html" class="gallery-image"><img src="images/gallery-02-thumb.jpg" alt=""></a>
														<h4 class="gallery-title">
															<a href="gallery-detail.html">Annual Marathon</a>
														</h4>
														<div class="gallery-date">July 11, 2015</div>
													</div>
												</li>
												<!-- GALLERY : end -->

												<!-- GALLERY : begin -->
												<li class="gallery">
													<div class="gallery-inner">
														<a href="gallery-detail.html" class="gallery-image"><img src="images/gallery-03-thumb.jpg" alt=""></a>
														<h4 class="gallery-title">
															<a href="gallery-detail.html">Summer Rock Festival</a>
														</h4>
														<div class="gallery-date">June 18, 2015</div>
													</div>
												</li>
												<!-- GALLERY : end -->

												<!-- GALLERY : begin -->
												<li class="gallery m-active">
													<div class="gallery-inner">
														<a href="gallery-detail.html" class="gallery-image"><img src="images/gallery-04-thumb.jpg" alt=""></a>
														<h4 class="gallery-title">
															<a href="gallery-detail.html">TownPress Sightseeing</a>
														</h4>
														<div class="gallery-date">June 3, 2015</div>
													</div>
												</li>
												<!-- GALLERY : end -->

											</ul>
											<p class="show-all-btn"><a href="gallery-list.html">See All Galleries</a></p>
										</div>
									</div>
								</div>
								<!-- GALLERIES WIDGET : end -->

							</div>
						</aside>
						<!-- RIGHT SIDEBAR : end -->

					</div>
					<!-- RIGHT COLUMN : end -->

				</div>
			</div>
		</div>
		<!-- CORE : end -->

{% endblock %}