{% extends 'layouts/base.html' %}

{% block content%}

		<!-- CORE : begin -->
		<div id="core">
			<div class="c-container">
				<div class="row">

					<!-- MIDDLE COLUMN : begin -->
					<div class="middle-column col-md-9 col-md-push-3">

						<!-- PAGE HEADER : begin -->
						<div id="page-header" class="m-has-breadcrumbs">

							<!-- PAGE TITLE : begin -->
							<div class="page-title">
								<h1>Elements</h1>
							</div>
							<!-- PAGE TITLE : end -->

							<!-- BREADCRUMBS : begin -->
							<div class="breadcrumbs">
								<ul>
									<li class="home"><a href="index.html">Home</a></li>
									<li>Elements</li>
								</ul>
							</div>
							<!-- BREADCRUMBS : end -->

						</div>
						<!-- PAGE HEADER : end -->

						<!-- PAGE CONTENT : begin -->
						<div id="page-content">
							<div class="page-content-inner">

								<div class="row">
									<div class="col-md-6">

										<h2>Accordion</h2>

										<!-- ACCORDION : begin -->
										<div class="c-accordion">
											<div class="c-content-box">
												<ul class="accordion-items">
													<li class="m-has-icon m-active">
														<h4 class="accordion-title"><i class="ico tp tp-diamond"></i>Integer tincidunt</h4>
														<div class="accordion-content">
															<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus</p>
														</div>
													</li>
													<li class="m-has-icon">
														<h4 class="accordion-title"><i class="ico tp tp-teacup"></i>Aenean leo ligula</h4>
														<div class="accordion-content">
															<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
														</div>
													</li>
													<li class="m-has-icon">
														<h4 class="accordion-title"><i class="ico tp tp-cherry"></i>Nam quam nunc</h4>
														<div class="accordion-content">
															<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<!-- ACCORDION : end -->

									</div>
									<div class="col-md-6">

										<h2>Toggle</h2>

										<!-- ACCORDION (TOGGLE) : begin -->
										<div class="c-accordion m-toggle">
											<div class="c-content-box">
												<ul class="accordion-items">
													<li class="m-has-icon m-active">
														<h4 class="accordion-title"><i class="ico tp tp-cherry"></i>Nam quam nunc</h4>
														<div class="accordion-content">
															<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc</p>
														</div>
													</li>
													<li class="m-has-icon">
														<h4 class="accordion-title"><i class="ico tp tp-diamond"></i>Integer tincidunt</h4>
														<div class="accordion-content">
															<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus</p>
														</div>
													</li>
													<li class="m-has-icon">
														<h4 class="accordion-title"><i class="ico tp tp-teacup"></i>Aenean leo ligula</h4>
														<div class="accordion-content">
															<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<!-- ACCORDION (TOGGLE) : end -->

									</div>
								</div>

								<h2>Alert Messages</h2>

								<div class="row">
									<div class="col-md-6">

										<!-- ALERT MESSAGE (WARNING) : begin -->
										<div class="c-alert-message m-warning">
											<i class="ico fa fa-exclamation-circle"></i>
											<div class="alert-inner">
												<p>This is example of warning message.</p>
											</div>
										</div>
										<!-- ALERT MESSAGE (WARNING) : end -->

										<!-- ALERT MESSAGE (INFO) : begin -->
										<div class="c-alert-message m-info">
											<i class="ico fa fa-info-circle"></i>
											<div class="alert-inner">
												<p>This is example of info message..</p>
											</div>
										</div>
										<!-- ALERT MESSAGE (INFO) : end -->

									</div>
									<div class="col-md-6">

										<!-- ALERT MESSAGE (SUCCESS) : begin -->
										<div class="c-alert-message m-success">
											<i class="ico fa fa-check-circle"></i>
											<div class="alert-inner">
												<p>This is example of success message.</p>
											</div>
										</div>
										<!-- ALERT MESSAGE (SUCCESS) : end -->

										<!-- ALERT MESSAGE (NOTIFICATION) : begin -->
										<div class="c-alert-message m-notification">
											<i class="ico fa fa-question-circle"></i>
											<div class="alert-inner">
												<p>This is example of notification message.</p>
											</div>
										</div>
										<!-- ALERT MESSAGE (NOTIFICATION) : end -->

									</div>
								</div>

								<h2>Counter</h2>

								<div class="row">
									<div class="col-md-3">

										<!-- COUNTER : begin -->
										<div class="c-counter">
											<div class="c-content-box">
												<div class="c-counter-inner">
													<h3 class="counter-data">2568</h3>
													<h4 class="counter-label">Citizens</h4>
												</div>
											</div>
										</div>
										<!-- COUNTER : end -->

									</div>
									<div class="col-md-3">

										<!-- COUNTER : begin -->
										<div class="c-counter">
											<div class="c-content-box">
												<div class="c-counter-inner">
													<h3 class="counter-data">1226</h3>
													<h4 class="counter-label">Male Citizens</h4>
												</div>
											</div>
										</div>
										<!-- COUNTER : end -->

									</div>
									<div class="col-md-3">

										<!-- COUNTER : begin -->
										<div class="c-counter">
											<div class="c-content-box">
												<div class="c-counter-inner">
													<h3 class="counter-data">1342</h3>
													<h4 class="counter-label">Female Citizens</h4>
												</div>
											</div>
										</div>
										<!-- COUNTER : end -->

									</div>
									<div class="col-md-3">

										<!-- COUNTER : begin -->
										<div class="c-counter">
											<div class="c-content-box">
												<div class="c-counter-inner">
													<h3 class="counter-data">528</h3>
													<h4 class="counter-label">Senior Citizens</h4>
												</div>
											</div>
										</div>
										<!-- COUNTER : end -->

									</div>
								</div>

								<h2>Feature</h2>

								<div class="row">
									<div class="col-md-6">

										<!-- FEATURE : begin -->
										<div class="c-feature">
											<div class="c-content-box">
												<div class="feature-inner">
													<i class="feature-icon tp tp-cheese"></i>
													<h3 class="feature-title">Maecenas nec odio</h3>
													<div class="feature-content">
														<p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
													</div>
												</div>
											</div>
										</div>
										<!-- FEATURE : end -->

									</div>
									<div class="col-md-6">

										<!-- FEATURE : begin -->
										<div class="c-feature">
											<div class="c-content-box">
												<div class="feature-inner">
													<i class="feature-icon tp tp-bread"></i>
													<h3 class="feature-title">Aenean leo ligula</h3>
													<div class="feature-content">
														<p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</p>
													</div>
												</div>
											</div>
										</div>
										<!-- FEATURE : end -->

									</div>
								</div>

								<h2>Progress Bar</h2>

								<div class="row">
									<div class="col-md-6">

										<!-- PROGRESS BAR : begin -->
										<!-- To change the visual indication, edit the "width" value in "bar-indicator-inner" element -->
										<div class="c-progress-bar">
											<div class="c-content-box">
												<div class="progress-bar-inner">
													<h5 class="progress-bar-title">Households With Above Average Income (40%)</h5>
													<div class="bar-indicator">
														<!-- You can change "40%" to any value from 0 to 100% -->
														<span class="bar-indicator-inner" style="width: 40%;"></span>
													</div>
												</div>
											</div>
										</div>
										<!-- PROGRESS BAR : end -->

									</div>
									<div class="col-md-6">

										<!-- PROGRESS BAR : begin -->
										<div class="c-progress-bar">
											<div class="c-content-box">
												<div class="progress-bar-inner">
													<h5 class="progress-bar-title">Households Personal Computer (60%)</h5>
													<div class="bar-indicator">
														<span class="bar-indicator-inner" style="width: 60%;"></span>
													</div>
												</div>
											</div>
										</div>
										<!-- PROGRESS BAR : end -->

									</div>
								</div>

								<h2>Tabs</h2>

								<!-- TABS : begin -->
								<div class="c-tabs">
									<div class="c-content-box">
										<div class="tabs-inner">
											<ul class="tab-list">
												<li class="tab m-active">
													<span class="tab-label">Maecenas tempus</span>
												</li>
												<li class="tab">
													<span class="tab-label">Cras dapibus</span>
												</li>
												<li class="tab">
													<span class="tab-label">Aenean massa</span>
												</li>
											</ul>
											<ul class="content-list">
												<li class="tab-content m-active">
													<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.</p>
												</li>
												<li class="tab-content">
													<p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
												</li>
												<li class="tab-content">
													<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- TABS : end -->

								<h2>Form</h2>

								<!-- FORM : begin -->
								<!-- Please note that this is just a dummy form used only to demonstrate look and feel of various form elements.
								Example of working form can be found in contact.html template. -->
								<div class="c-content-box">
									<form>

										<!-- FORM VALIDATION ERROR MESSAGE : begin -->
										<p class="c-alert-message m-warning m-validation-error" style="display: none;">
											<i class="ico fa fa-exclamation-circle"></i>Please fill in all required (*) fields.
										</p>
										<!-- FORM VALIDATION ERROR MESSAGE : end -->

										<div class="row">
											<div class="col-md-6">
												<p>
													<label>First Name <span>*</span>
														<input type="text" id="first-name" name="first-name" required="required" placeholder="Your first name">
													</label>
												</p>
											</div>
											<div class="col-md-6">
											    <p>
											        <label>Last Name
											        	<input type="text" id="last-name" name="last-name" placeholder="Your family name" >
													</label>
											    </p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
											    <p>
											    	<label>Date of Birth
											       		<input type="date" id="birth-date" name="birth-date">
													</label>
											    </p>
											</div>
											<div class="col-md-6">
											    <p>
											        <label>Email
											        	<input type="email" id="email" name="email" placeholder="example@domain.com">
													</label>
												</p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
											    <p>
											        <label>Website
											        	<input type="url" id="website" name="website" placeholder="http://mysite.com">
													</label>
											    </p>
											</div>
											<div class="col-md-6">
											    <p>
											        <label>Phone
											        	<input type="tel" id="phone" name="phone" placeholder="Eg. +123000 000000">
													</label>
											    </p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
											    <p>
											        <label>Favourite Season
											        	<select id="season" name="season">
											        		<option value="spring">Spring</option>
											        		<option value="summer">Summer</option>
											        		<option value="autumn">Autumn</option>
											        		<option value="winter">Winter</option>
										        		</select>
													</label>
											    </p>
											</div>
											<div class="col-md-6">
											    <p>
											    	Books or Movies?
											        <label><input type="radio" name="interests" value="books">Books</label>
											        <label><input type="radio" name="interests" value="movies">Movies</label>
											    </p>
											</div>
										</div>
									    <p>
									        <label>Bio
									        	<textarea id="bio" name="bio" rows="5"></textarea>
											</label>
									    </p>
									    <p>
									        <label><input type="checkbox" id="enjoyed" name="enjoyed">I enjoyed filling out this form!</label>
									    </p>
									    <p>
									    	<button type="submit" class="c-button">Place Order</button>
									    </p>
									</form>
								</div>
								<!-- FORM : end -->

							</div>
						</div>
						<!-- PAGE CONTENT : end -->

						<hr class="c-separator m-margin-top-small m-margin-bottom-small m-transparent hidden-lg hidden-md">

					</div>
					<!-- MIDDLE COLUMN : end -->

					<!-- LEFT COLUMN : begin -->
					<div class="left-column col-md-3 col-md-pull-9">

						<!-- SIDE MENU : begin -->
<nav class="side-menu m-left-side m-show-submenu">
							<ul>
								<li><a href="{% url 'Mairie:accueil' %}">Accueil</a></li>
								<li class="m-active"><a href="town-hall.html">Municipalité</a>
									<ul>
										<li><a href="{% url 'Mairie:mairie' %}">Mairie</a></li>
										<li><a href="{% url 'Mairie:conseil' %}">Conseil municipal</a></li>
										<li><a href="{% url 'Mairie:contact' %}">Contacts</a></li>
										<li><a href="{% url 'Mairie:documents' %}">Documents</a></li>
										<li class="m-active"><a href="{% url 'Mairie:contact_maire' %}">Ecrire au maire</a></li>
									</ul>
								</li>
								<li><a href="#">Communauté</a>
									<ul>
										<li><a href="{% url 'Mairie:post' %}">News</a></li>
										<li><a href="{% url 'Mairie:avis' %}">Avis publics</a></li>
										<li><a href="{% url 'Mairie:events' %}">Evènements</a></li>
										<li><a href="{% url 'Mairie:galeries' %}">Galeries</a></li>
									</ul>
								</li>
								<li><a href="#">Autres</a>
									<ul>
										<li><a href="{% url 'Mairie:stats' %}">Statistiques</a></li>
										<li><a href="{% url 'Mairie:tour' %}">Tour virtuelle</a></li>
										<li><a href="{% url 'Mairie:histoire' %}">Histoire de la ville</a></li>
										<li><a href="{% url 'Mairie:elements' %}">Elements</a></li>
									</ul>
								</li>
							</ul>
						</nav>
						<!-- SIDE MENU : end -->

						<!-- LEFT SIDEBAR : begin -->
						<aside class="sidebar">
							<div class="widget-list">

								<!-- DOCUMENTS WIDGET : begin -->
								<div class="widget documents-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-papers"></i>Documents</h3>
										<div class="widget-content">
											<ul class="document-list m-has-icons">

												<!-- DOCUMENT : begin -->
												<li class="document">
													<div class="document-inner">
														<div class="document-icon" title="PDF File"><i class="fa fa-file-pdf-o"></i></div>
														<h4 class="document-title">
															<a href="documents/dummy-document2.pdf" target="_blank">Council Agenda April 24, 2014</a>
															<span class="document-filesize">(27 kB)</span>
														</h4>
													</div>
												</li>
												<!-- DOCUMENT : end -->

												<!-- DOCUMENT : begin -->
												{% for doc in docs %}
												<li class="document">
													<div class="document-inner">
														<div class="document-icon" title="PDF File"><i class="fa fa-file-pdf-o"></i></div>
														<h4 class="document-title">
															<a href="{{doc.fichier.url}}" target="_blank">{{doc.titre}}</a>
															<span class="document-filesize">(27 kB)</span>
														</h4>
													</div>
												</li>
												{% endfor %}
												<!-- DOCUMENT : end -->
											</ul>
											<p class="show-all-btn"><a href="document-list.html">Voir tous les documents</a></p>
										</div>
									</div>
								</div>
								<!-- DOCUMENTS WIDGET : end -->

							</div>
						</aside>
						<!-- LEFT SIDEBAR : end -->

					</div>
					<!-- LEFT COLUMN : end -->

				</div>
			</div>
		</div>
		<!-- CORE : end -->

{% endblock %}