{% extends 'layouts/base.html' %}

{% block content%}

		<!-- CORE : begin -->
		<div id="core">
			<div class="c-container">
				<div class="row">

					<!-- MIDDLE COLUMN : begin -->
					<div class="middle-column col-md-6 col-md-push-3">

						<!-- PAGE HEADER : begin -->
						<div id="page-header" class="m-has-breadcrumbs">

							<!-- PAGE TITLE : begin -->
							<div class="page-title">
								<h1>Statistiques</h1>
							</div>
							<!-- PAGE TITLE : end -->

							<!-- BREADCRUMBS : begin -->
							<div class="breadcrumbs">
								<ul>
									<li class="home"><a href="{% url 'Mairie:accueil' %}">Accueil</a></li>
									<li>Statistiques</li>
								</ul>
							</div>
							<!-- BREADCRUMBS : end -->

						</div>
						<!-- PAGE HEADER : end -->

						<!-- PAGE CONTENT : begin -->
						<div id="page-content">
							<div class="page-content-inner">
								<div class="c-content-box">

									<h2>Population</h2>

									<div class="row">
										<div class="col-sm-4">

											<!-- COUNTER : begin -->
											<div class="c-counter">
												<div class="c-content-box">
													<div class="c-counter-inner">
														<h3 class="counter-data">70000</h3>
														<h4 class="counter-label">Citoyens</h4>
													</div>
												</div>
											</div>
											<!-- COUNTER : end -->

											<!-- COUNTER : begin -->
											<div class="c-counter">
												<div class="c-content-box">
													<div class="c-counter-inner">
														<h3 class="counter-data">100k</h3>
														<h4 class="counter-label">Revenu Moyen</h4>
													</div>
												</div>
											</div>
											<!-- COUNTER : end -->

										</div>
										<div class="col-sm-4">

											<!-- COUNTER : begin -->
											<div class="c-counter">
												<div class="c-content-box">
													<div class="c-counter-inner">
														<h3 class="counter-data">32 000</h3>
														<h4 class="counter-label">Hommes</h4>
													</div>
												</div>
											</div>
											<!-- COUNTER : end -->

											<!-- COUNTER : begin -->
											<div class="c-counter">
												<div class="c-content-box">
													<div class="c-counter-inner">
														<h3 class="counter-data">24%</h3>
														<h4 class="counter-label">Taux de chomage</h4>
													</div>
												</div>
											</div>
											<!-- COUNTER : end -->

										</div>
										<div class="col-sm-4">

											<!-- COUNTER : begin -->
											<div class="c-counter">
												<div class="c-content-box">
													<div class="c-counter-inner">
														<h3 class="counter-data">38 000</h3>
														<h4 class="counter-label">Femmes</h4>
													</div>
												</div>
											</div>
											<!-- COUNTER : end -->

											<!-- COUNTER : begin -->
											<div class="c-counter">
												<div class="c-content-box">
													<div class="c-counter-inner">
														<h3 class="counter-data">3200</h3>
														<h4 class="counter-label">Seniors</h4>
													</div>
												</div>
											</div>
											<!-- COUNTER : end -->

										</div>
									</div>

									<!-- SEPARATOR : begin -->
									<hr class="c-separator m-default m-margin-top-none m-margin-bottom-medium">
									<!-- SEPARATOR : end -->

									<h2>Foyer</h2>

									<div class="row">
										<div class="col-md-6">

											<!-- PROGRESS BAR : begin -->
											<!-- To change the visual indication, edit the "width" value in "bar-indicator-inner" element -->
											<div class="c-progress-bar">
												<div class="c-content-box">
													<div class="progress-bar-inner">
														<h5 class="progress-bar-title">Au dessus du revenu moyen (34%)</h5>
														<div class="bar-indicator">
															<!-- You can change "40%" to any value from 0 to 100% -->
															<span class="bar-indicator-inner" style="width: 40%;"></span>
														</div>
													</div>
												</div>
											</div>
											<!-- PROGRESS BAR : end -->

											<!-- PROGRESS BAR : begin -->
											<div class="c-progress-bar">
												<div class="c-content-box">
													<div class="progress-bar-inner">
														<h5 class="progress-bar-title">Avec un acces internet (22%)</h5>
														<div class="bar-indicator">
															<span class="bar-indicator-inner" style="width: 65%;"></span>
														</div>
													</div>
												</div>
											</div>
											<!-- PROGRESS BAR : end -->

										</div>
										<div class="col-md-6">

											<!-- PROGRESS BAR : begin -->
											<div class="c-progress-bar">
												<div class="c-content-box">
													<div class="progress-bar-inner">
														<h5 class="progress-bar-title">Avec un ordinateur personnel (18%)</h5>
														<div class="bar-indicator">
															<span class="bar-indicator-inner" style="width: 60%;"></span>
														</div>
													</div>
												</div>
											</div>
											<!-- PROGRESS BAR : end -->

											<!-- PROGRESS BAR : begin -->
											<div class="c-progress-bar">
												<div class="c-content-box">
													<div class="progress-bar-inner">
														<h5 class="progress-bar-title">Avec une voiture (16%)</h5>
														<div class="bar-indicator">
															<span class="bar-indicator-inner" style="width: 75%;"></span>
														</div>
													</div>
												</div>
											</div>
											<!-- PROGRESS BAR : end -->

										</div>
									</div>

									<!-- SEPARATOR : begin -->
									<hr class="c-separator m-default m-margin-top-none m-margin-bottom-medium">
									<!-- SEPARATOR : end -->

									<h2>Superficie</h2>

									<div class="row">
										<div class="col-sm-4">

											<!-- COUNTER : begin -->
											<div class="c-counter">
												<div class="c-content-box">
													<div class="c-counter-inner">
														<h3 class="counter-data">7 km2<span class="counter-symbol"></span></h3>
														<h4 class="counter-label">Total</h4>
													</div>
												</div>
											</div>
											<!-- COUNTER : end -->

										</div>
										<div class="col-sm-4">

											<!-- COUNTER : begin -->
											<div class="c-counter">
												<div class="c-content-box">
													<div class="c-counter-inner">
														<h3 class="counter-data">10k hab/km2<span class="counter-symbol"></span></h3>
														<h4 class="counter-label">Densité</h4>
													</div>
												</div>
											</div>
											<!-- COUNTER : end -->
										</div>
									</div>

									<!-- SEPARATOR : begin -->
									<hr class="c-separator m-default m-margin-top-none m-margin-bottom-medium">
									<!-- SEPARATOR : end -->

									<h2>Police</h2>

									<div class="row">
										<div class="col-sm-4">

											<!-- COUNTER : begin -->
											<div class="c-counter">
												<div class="c-content-box">
													<div class="c-counter-inner">
														<h3 class="counter-data">10</h3>
														<h4 class="counter-label">Agents en plein temps</h4>
													</div>
												</div>
											</div>
											<!-- COUNTER : end -->

										</div>
										<div class="col-sm-4">

											<!-- COUNTER : begin -->
											<div class="c-counter">
												<div class="c-content-box">
													<div class="c-counter-inner">
														<h3 class="counter-data">5</h3>
														<h4 class="counter-label">Agents à mi-temps</h4>
													</div>
												</div>
											</div>
											<!-- COUNTER : end -->

										</div>
										<div class="col-sm-4">

											<!-- COUNTER : begin -->
											<div class="c-counter">
												<div class="c-content-box">
													<div class="c-counter-inner">
														<h3 class="counter-data">6</h3>
														<h4 class="counter-label">Personnel détaché</h4>
													</div>
												</div>
											</div>
											<!-- COUNTER : end -->

										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- PAGE CONTENT : end -->

						<hr class="c-separator m-margin-top-small m-margin-bottom-small m-transparent hidden-lg hidden-md">

					</div>
					<!-- MIDDLE COLUMN : end -->

					<!-- LEFT COLUMN : begin -->
					<div class="left-column col-md-3 col-md-pull-6">

						<!-- SIDE MENU : begin -->
						<nav class="side-menu m-left-side m-show-submenu">
							<ul>
								<li><a href="{% url 'Mairie:accueil' %}">Accueil</a></li>
								<li class="m-active"><a href="town-hall.html">Municipalité</a>
									<ul>
										<li><a href="{% url 'Mairie:mairie' %}">Mairie</a></li>
										<li><a href="{% url 'Mairie:conseil' %}">Conseil municipal</a></li>
										<li><a href="{% url 'Mairie:contact' %}">Contacts</a></li>
										<li><a href="{% url 'Mairie:documents' %}">Documents</a></li>
										<li class="m-active"><a href="{% url 'Mairie:contact_maire' %}">Ecrire au maire</a></li>
									</ul>
								</li>
								<li><a href="#">Communauté</a>
									<ul>
										<li><a href="{% url 'Mairie:post' %}">News</a></li>
										<li><a href="{% url 'Mairie:avis' %}">Avis publics</a></li>
										<li><a href="{% url 'Mairie:events' %}">Evènements</a></li>
										<li><a href="{% url 'Mairie:galeries' %}">Galeries</a></li>
									</ul>
								</li>
								<li><a href="#">Autres</a>
									<ul>
										<li><a href="{% url 'Mairie:stats' %}">Statistiques</a></li>
										<li><a href="{% url 'Mairie:tour' %}">Tour virtuelle</a></li>
										<li><a href="{% url 'Mairie:histoire' %}">Histoire de la ville</a></li>
									</ul>
								</li>
							</ul>
						</nav>
						<!-- SIDE MENU : end -->

						<!-- LEFT SIDEBAR : begin -->
						<aside class="sidebar">
							<div class="widget-list">

								<!-- FEATURED GALLERY WIDGET : begin -->
								{% for album in albums %}
								{% if forloop.counter == 2 %}
								<div class="widget featured-gallery-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-pictures"></i>{{album.titre}}</h3>
										<div class="widget-content">
											<div class="gallery-image" title="Streets of TownPress">
												<a href="{% url 'Mairie:galerie_photos' id=album.id %}"><img src="{{album.photo1.url}}" alt=""></a>
											</div>
											<p class="show-all-btn"><a href="{% url 'Mairie:galerie_photos' id=album.id %}">Voir photos</a></p>
            							</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}
								<!-- FEATURED GALLERY WIDGET : end -->

								<!-- DOCUMENTS WIDGET : begin -->
								<div class="widget documents-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-papers"></i>Documents</h3>
										<div class="widget-content">
											<ul class="document-list m-has-icons">

												<!-- DOCUMENT : begin -->
												{% for doc in docs %}
												<li class="document">
													<div class="document-inner">
														<div class="document-icon" title="PDF File"><i class="fa fa-file-pdf-o"></i></div>
														<h4 class="document-title">
															<a href="{{doc.fichier.url}}" target="_blank">{{doc.titre}}</a>
															<span class="document-filesize">(27 kB)</span>
														</h4>
													</div>
												</li>
												{% endfor %}
												<!-- DOCUMENT : end -->
											</ul>
											<p class="show-all-btn"><a href="{% url 'Mairie:documents' %}">Voir tous les documents</a></p>
										</div>
									</div>
								</div>
								<!-- DOCUMENTS WIDGET : end -->

							</div>
						</aside>
						<!-- LEFT SIDEBAR : end -->

					</div>
					<!-- LEFT COLUMN : end -->

					<!-- RIGHT COLUMN : begin -->
					<div class="right-column col-md-3">

						<!-- RIGHT SIDEBAR : begin -->
						<aside class="sidebar">
							<div class="widget-list">

								<!-- NOTICES WIDGET : begin -->
								<div class="widget notices-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-bullhorn"></i>Avis publics</h3>
										<div class="widget-content">
											<ul class="notice-list">

												<!-- NOTICE : begin -->
												{% for notice in avis %}
												<li class="notice">
													<div class="notice-inner">
														<h4 class="notice-title"><a href="{% url 'Mairie:avis_show' id=notice.id %}">{{notice.titre}}</a></h4>
														<span class="notice-date">{{notice.date}}</span>
													</div>
												</li>
												{% endfor %}
												<!-- NOTICE : end -->
											</ul>
											<p class="show-all-btn"><a href="{% url 'Mairie:avis' %}">Voir tous les avis</a></p>
										</div>
									</div>
								</div>
								<!-- NOTICES WIDGET : end -->

								<!-- EVENTS WIDGET : begin -->
								<div class="widget events-widget">
									<div class="widget-inner">
										<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-calendar-full"></i>Evènements à venir</h3>
										<div class="widget-content">
											<ul class="event-list">

												<!-- EVENT : begin -->
												{% for event in events %}
												<li class="event m-has-date">
													<div class="event-inner">
														<div class="event-date" title="June 3, 2016">
															<span class="event-month">{{ event.date|date:"M" }}</span>
															<span class="event-day">{{ event.date|date:"d" }}</span>
														</div>
														<h4 class="event-title"><a href="{% url 'Mairie:event_show' id=event.id %}">{{event.titre}}</a></h4>
													</div>
												</li>
												{% endfor %}
												<!-- EVENT : end -->
											</ul>
											<p class="show-all-btn"><a href="{% url 'Mairie:events' %}">Voir tous les évènements</a></p>
										</div>
									</div>
								</div>
								<!-- EVENTS WIDGET : end -->
							</div>
						</aside>
						<!-- RIGHT SIDEBAR : end -->
					</div>
					<!-- RIGHT COLUMN : end -->

				</div>
			</div>
		</div>
		<!-- CORE : end -->

{% endblock %}